.komax-grid-header {
  display: none;

  @media (min-width: 1000px) {
    display: flex;
    order: 1;
  }
}

.komax-grid-footer {
  display: none;

  @media (min-width: 1000px) {
    display: flex;
    order: 3;
  }
}

.logo__block {
  background-color: #00b3c2;
}

.logo__block_image {
  max-width: 980px;
  margin: 0 auto;
  padding: 0;
  height: 58px;
}

.main-content {
  @media (min-width: 1000px) {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    justify-content: center;
    align-content: flex-start;
    width: 1000px;
    margin: 0 auto;
    order: 2;
  }
}

#komax_nav {
  display: none;
  @media (min-width: 1000px) {
    display: block;
    width: 232px;
    margin: 60px 0 0 0;
    padding: 0;
  }
}

.mosk_nav_header {
  background-image: url(https://moskitos.com.ua/img/strelka_right.png);
  background-size: 165px 41px;
  width: 165px;
  height: 41px;

  p {
    font-weight: bold;
    color: white;
    padding: 0 12px;
    font-size: 18px;
    line-height: 41px;
  }
}

.mosk_nav_items {
  margin: 10px 0 40px 5px;
  padding: 4px 8px 4px 8px;

  li {
    color: grey;
    font-size: 12pt;
    font-weight: bold;
    margin-bottom: 10px;
    list-style: none;
    line-height: 20px;
  }

  a {
    color: #939190;
    text-decoration: none;
  }
}

.mosk-adress {

  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 85px;

  p a {
    color: #939190;
    text-decoration: none;
  }
}
