<div class="language-panel">
  <div class="language-panel__contacts">
    <a href="tel:+380680151548" class="language-panel__phone">068 015-15-48</a>
    <a href="viber://chat?number=+380500887472" class="language-panel__icon language-panel__icon--viber" aria-label="Viber"></a>
    <a href="https://t.me/fabrika_moskitos" class="language-panel__icon language-panel__icon--telegram" aria-label="Telegram"></a>
  </div>
  
  <div class="language-panel__switcher">
    <a href="https://moskitos.com.ua/antikoshka" class="language-panel__lang">UA</a>
    <span class="language-panel__divider">|</span>
    <a href="https://moskitos.com.ua/ua/antykishka" class="language-panel__lang language-panel__lang--active">RU</a>
  </div>
</div>
