.calc-results-block {
  display: flex;
  flex-direction: column;
  gap: 30px;

  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, padding 0.3s ease;
  padding: 0 10px; /* начальный padding уменьшен */
}

.calc-results-block.active {
  max-height: 500px; /* должно быть больше, чем реальная высота блока */
  padding: 10px; /* восстанавливаем внутренние отступы */
}

.calc-results-text {
  display: flex;
  flex-direction: column;
  gap: 20px;

  p {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    line-height: 18px;
  }

  span {
    font-size: 14px;

    &.results-sq {
      font-weight: 700;
    }

    &.results-price {
      font-weight: 700;
      font-size: 18px;
      color: rgb(250, 112, 20);
    }
  }
}
